# Imports

In [13]:
import pandas as pd

In [1]:
import sys
import os
src_dir = os.path.join(os.getcwd(), '..')
sys.path.append(src_dir)

In [2]:
# OPTIONAL: Load the "autoreload" extension so that code can change
%load_ext autoreload

# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

In [17]:
from src.data.make_dataset import load_data
from src.models.predict_model import load_model, make_predictions
from src.models.predict_model import prepare_and_save_predictions

# Load model

In [9]:
model_name = "xgboost_model_1.pkl"
model = load_model(model_name)

# Make predictions

In [4]:
X_test = load_data("raw/test.csv")
X_test.head(5)

  PassengerId HomePlanet CryoSleep  ...     Spa VRDeck              Name
0     0013_01      Earth      True  ...     0.0    0.0   Nelly Carsoning
1     0018_01      Earth     False  ...  2823.0    0.0    Lerome Peckers
2     0019_01     Europa      True  ...     0.0    0.0   Sabih Unhearfus
3     0021_01     Europa     False  ...   181.0  585.0  Meratz Caltilter
4     0023_01      Earth     False  ...     0.0    0.0   Brence Harperez

[5 rows x 13 columns]

In [5]:
# Look at sample submission
sample_submission = load_data("sample_submission.csv")
sample_submission.head(5)

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

In [6]:
# Store PassengerId column for later
X_test_passengerId = X_test['PassengerId']

In [11]:
preds = make_predictions(model, X_test)

# Prepare predictions for Kaggle

In [18]:
prepare_and_save_predictions(preds, X_test_passengerId, 'predictions_2.csv')